nav{
    background-color: #002368;
}
.anclas{
    color: white;
}
.anclas:hover{
    color: #f8f8ff;
    transition: .3s;
}
.img{
    width: 100%;
}
.contenedor-main{
    background: #f2f2f2;
    padding: 30px 0px;
}
.contenedor-tarjetas{
    width: 29%;
}